body {
    background: #1ba11a url(./images/tile.png) top left repeat;
    font-family: Comic Sans,Comic Sans MS,cursive;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: times,helvetic,sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-right: 30px;
    padding-top: 30px;
}

.yellow-title {
    color: #fff54f;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    margin-left: 40px;
    margin-bottom: -15px;
}

.first-line {
    display: flex;
    justify-content: center;
}

.second-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.third-line {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.text-bloc1 {
    color: #fff54f;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.small-text1 {
    color: #fff54f;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.two-pictures {
    margin-left: 420px;
    margin-right: 160px;
}

.white-bloc1 {
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.white-bloc2 {
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.white-bloc3 {
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.white-bloc4 {
    color: white;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
}

.rubbons .small-yellow1 {
    color: #fff54f;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10px;
}

.rubbons .rubbon-left {
    margin-left: 400px;
    margin-right: 350px;
}

.rubbons .rubbon-right {
    margin-left: 130px;
    margin-right: 350px;
}